.container {
    padding: 40px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: -150px;
}

.slick-slide img {
    margin: auto;
    border: 5px solid rgba(54, 56, 57, 0.9);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 500px;
    width: 750px;
}